@typeparam TEntity

<input class="form-control" style="max-width:300px" placeholder="Search..."
    @bind="searchItem" />
    
<button class="form-control" style="max-width:300px"
        @onClick=OnSearchClicked>
    Search
</button>

@code{
    [Parameter]
    public List<TEntity> Items { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private string searchItem;

    private async Task OnSearchClicked()
    {
        await OnSearch.InvokeAsync(searchItem);
    }
}